{% extends "pages/admins/base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-6 col-sm-3">
        <!--card-->
        <div class="card">
           <!--messages-->
          {% include 'message.html' %}
          <!--messages-->
            <div class="card-header">
                <h3>Contact Us</h3>
            </div>
            <div class="card-body">  
              <!--table-->
              <div class="table-responsive animate__animated animate__fadeIn">
                <table id="mytable" class="table table-responsive table-bordered table-striped w-auto">
                  <thead>
                    <tr>
                      <th class="th">Name</th>
                      <th class="th">Email</th>
                      <th class="th">Website</th>
                      <th class="th">Subject</th>
                      <th class="th">Message</th>
                      <th class="th">Date</th>
                      <th class="th">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in contact %}
                      <tr> 
                        <td class="td">{{ c.name }}</td>
                        <td class="td">{{ c.email }}</td>
                        <td class="td">{{ c.website }}</td>
                        <td class="td">{{ c.subject }}</td>
                        <td class="td">{{ c.message }}</td>
                        <td class="td">{{ c.date }}</td>
                        <td class="td d-flex">
                          <a href="mailto:{{ c.email }}?subject=Re: {{ c.subject }}&body=Dear {{ c.name }},%0D%0A%0D%0A{{ c.message }}%0D%0A%0D%0ARegards," class="btn btn-success">
                              Reply
                          </a>
                          <a onclick="return confirm('Are you you want to delete?')" class="btn btn-danger ml-3" href="{% url 'delete_contact_page' c.id %}">Delete</a>
                        </td>  
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--table-->
            </div>
                
        </div>
        <!--card end-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
